* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#name,
#email {
  border-radius: 50px;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.form-floating {
  min-width: 300px;
}
