    <div class="socialLinks">
      <a target="_blank" href="https://www.instagram.com/_apollonox_/"
        ><i class="fab fa-instagram"></i
      ></a>
      <a target="_blank" href="https://github.com/Rajguru-Aditya"
        ><i class="fab fa-github"></i
      ></a>
      <a target="_blank" href="mailto:rajguru.aditya.25@gmail.com"
        ><i class="far fa-envelope"></i
      ></a>
    </div>
    <script src="/main.js"></script>
  </body>
</html>