<%- include("header") -%>
    <div class="aboutMe">
      <img src="/images/circle-croppedME.png" alt="Aditya Rajguru" id="me" />
      <h1>I am Aditya Rajguru 👋</h1>
      <p>I'll teach you <em>HTML, CSS, JavaScript, Bootstrap</em></p>
    </div>
    <div class="container-fluid">
      <form class="form" method="Post">
        <div class="form-group">
          <div class="form-floating mb-3">
            <input
              type="text"
              class="form-control"
              id="name"
              name="name"
              placeholder="FirstName LastName"
            />
            <label for="floatingInput">Name</label>
          </div>
          <div class="form-floating mb-3">
            <input
              type="email"
              class="form-control"
              id="email"
              name="email"
              placeholder="name@example.com"
            />
            <label for="floatingInput">Email address</label>
          </div>
          <div>
            <input
              type="date"
              id="selectDays"
              name="selectDays"
              class="form-control mb-3"
            />
          </div>

          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
            <label class="form-check-label" for="flexCheckDefault">
              Slot 1: 1 pm (13:00) IST(Indian Standard Time)
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckChecked">
              Slot 2: 5 pm (17:00) IST(Indian Standard Time)
            </label>
          </div>
           <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckChecked">
              Slot 3: 9:30 pm (21:30) IST(Indian Standard Time)
            </label>
          </div>
          <p><a class="timezone" href="https://www.thetimezoneconverter.com/" target="_blank">Convert timezone</a></p>

          <button
            name="subBtn"
            type="submit"
            id="submitBtn"
            class="btn btn-outline-primary"
          >
            Submit
          </button>
        </div>
      </form>
    </div>
<%- include("footer") -%>