<%- include("header") -%>
    <div class="aboutMe">
      <img src="/images/circle-croppedME.png" alt="Aditya Rajguru" id="me" />
      <h1 class="pageHeader">I am Aditya Rajguru 👋</h1>
      <p>I'll teach you <em>HTML, CSS, JavaScript, Bootstrap</em> for <strong>$5/hr(₹370)</strong></p>
      <a href="/about"><button id="aboutBtn" type="button" class="btn btn-outline-primary">About Me</button></a>
    </div>
    <div class="container-fluid">
      <form class="form" method="Post">
        <div class="form-group">
          <div class="form-floating mb-3">
            <input
              type="text"
              class="form-control"
              id="name"
              name="name"
              placeholder="FirstName LastName"
              required
            />
            <label for="floatingInput">Name</label>
          </div>
          <div class="form-floating mb-3">
            <input
              type="email"
              class="form-control"
              id="email"
              name="email"
              placeholder="name@example.com"
              required
            />
            <label for="floatingInput">Email address</label>
          </div>
          <div>
            <input
              type="date"
              id="selectDays"
              name="selectDays"
              class="form-control mb-3"
              required
            />
          </div>

          <div id="slotBoxes" class="form-check">
            <input class="form-check-input" type="checkbox" value="Slot1" name="checkBtn">
            <label class="form-check-label" for="flexCheckDefault">
              Slot 1: 1:00 pm (13:00)
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="Slot2" name="checkBtn">
            <label class="form-check-label" for="flexCheckChecked">
              Slot 2: 5:00 pm (17:00)
            </label>
          </div>
           <div class="form-check">
            <input class="form-check-input" type="checkbox" value="Slot3" name="checkBtn">
            <label class="form-check-label" for="flexCheckChecked">
              Slot 3: 9:30 pm (21:30)
            </label>
          </div>
          <p id="note">NOTE: All of these timing are according to IST(India Standard Time)</p>
          <p><a class="timezone" href="https://www.thetimezoneconverter.com/" target="_blank">Convert timezone</a></p>

          <button
            name="subBtn"
            type="submit"
            id="submitBtn"
            class="btn btn-outline-primary"
          >
            Submit
          </button>
        </div>
      </form>
      <p><strong>Fees negotiable, </strong><a target="_blank" href="mailto:rajguru.aditya.25@gmail.com"
        >Email me</a> to know more</p>
    </div>
<%- include("footer") -%>