* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* AboutMe */
.aboutMe {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
}

#me {
  height: 200px;
  margin-bottom: 10px;
}

/* Form */
#name,
#email,
#selectDays {
  border-radius: 50px;
  padding-left: 10px;
  text-align: center;
}

#selectDays {
  min-width: 300px;
  color: rgb(155, 155, 155);
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh;
}

.form-floating {
  min-width: 300px;
}

.timezone {
  text-decoration: none;
}

.timezone:hover {
  color: #fff;
}

#submitBtn {
  border-radius: 50px;
}

/* Success */

#success {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  padding: 0;
  margin: 0;
}

/* Social Links */
.socialLinks {
  text-align: center;
}

i {
  font-size: 40px;
  padding: 15px;
  color: #4c9be8;
}

i:hover {
  color: #fff;
  transition: 0.5s ease;
}
