@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-fluid {
  text-align: center;
}

/* AboutMe */
.aboutMe {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  font-family: "Montserrat", sans-serif;
}

#me {
  height: 200px;
  margin: 20px 0;
}

.aboutDiv {
  text-align: center;
}

.aboutPara {
  font-size: 20px;
  width: 70%;
  padding: 50px 0;
}

hr {
  width: 70%;
  color: #fff;
}

.svg-icons {
  width: 150px;
  padding: 20px 10px;
  margin: 0;
}

/* Form */
#name,
#email,
#selectDays {
  border-radius: 50px;
  padding-left: 10px;
  text-align: center;
}

#selectDays {
  min-width: 300px;
  color: rgb(155, 155, 155);
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 450px;
}

.form-floating {
  min-width: 300px;
}

.timezone {
  text-decoration: none;
}

.timezone:hover {
  color: #fff;
}

#note {
  color: rgb(139, 137, 137);
}

#submitBtn,
#aboutBtn {
  border-radius: 50px;
}

/* Success */

#success {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  padding: 0;
  margin: 0;
}

/* Social Links */
.socialLinks {
  text-align: center;
}

i {
  font-size: 40px;
  padding: 15px;
  color: #4c9be8;
}

i:hover {
  color: #fff;
  transition: 0.5s ease;
}
